@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  @RenderSection(name: "headScript", required: false)
</head>
<body>
  <ul class="nav nav-pills">
    <li><a href="@Url.Action("Index","Home")"><img style="height:50px;width:70px;" class="img-responsive img-rounded" src="~/Images/Tic.png" /></a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("SI Units", "Index", "Unit")</li>
        <li>@Html.ActionLink("Symbols", "Index", "Symbol")</li>
        <li>@Html.ActionLink("Analysis Params", "Index", "AP")</li>
      </ul>
    </li>
    <li><a href="/Home/Report">Report</a></li>

  </ul>
  <div class="well container">
    @RenderBody()
  </div>
</body>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@RenderSection(name: "Scripts", required: false)

@RenderSection(name: "footScript", required: false)

</html>
