@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  @RenderSection(name: "headScript", required: false)
  <!--Local http://localhost:52124/ -->
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
          <img style="height: 30px; width: 50px;" class="img-responsive img-rounded" src="~/Images/Tic.png" />
        </a>
      </div>
      @{
        bool isAuth = User.Identity.IsAuthenticated;
        
      }
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>@Html.ActionLink("SI Units", "Index", "Unit")</li>
              <li>@Html.ActionLink("Symbols", "Index", "Symbol")</li>
              <li>@Html.ActionLink("Analysis Params", "Index", "AP")</li>
              <li>
                <hr />
              </li>
              <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
              <li>@Html.ActionLink("Symbols", "SPAIndex", "Symbol")</li>
            </ul>
          </li>
          @if (!isAuth)
          {
            <li>@Html.ActionLink("Log on", "LogIn", "Auth")</li>
          }
          else
          {
            <li>@Html.ActionLink("Log out", "LogOut", "Auth")</li>
          }

          <li><a href="/Home/Report">Report</a></li>

          <li><a href="#">Contact</a></li>
          @if(isAuth)
          {
          <li><div class="badge">@User.Identity.Name</div>

           
          </li>
          }
        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="well container">
    @RenderBody()
  </div>
</body>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@RenderSection(name: "Scripts", required: false)

@RenderSection(name: "footScript", required: false)

</html>
