@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  @RenderSection(name: "headScript", required: false)
</head>
<body>
  <ul class="nav nav-pills">
    <li>@Html.ActionLink("TicItNow", "Index", "Home")</li>
    <li>
      <ul>
        Admin
        <li>@Html.ActionLink("Units", "Index", "Unit")</li>
        <li>@Html.ActionLink("Symbols", "Index", "Symbol")</li>
        <li>@Html.ActionLink("Analysis Params", "Index", "AP")</li>

      </ul>
    </li>
    <li><a href="/Home/Report">Report</a></li>

  </ul>
  <div class="well container">
    @RenderBody()
  </div>
</body>
@RenderSection(name: "Scripts", required: false)

@RenderSection(name: "footScript", required: false)

</html>
